:root {
  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);
  --blue: hsl(248, 32%, 49%);
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --white: hsla(0, 0%, 100%, 1);
  --success-color: #28a745;
  --desktop: 1440px;
  --mobile: 375px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--red);
  background-image: url(./images/bg-intro-desktop.png);
  margin: 0 auto;
}

.wrap {
  display: flex;
  gap: 50px;
  max-width: var(--desktop);
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 24px;
}
h1,
p {
  color: var(--white);
}

#informations_section {
  border-radius: 0px;
  max-width: 550px;
  word-break: break-word;
}

#informations__text {
  font-weight: 500;
  border-radius: 0px;
}

form {
  background: var(--white);
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  border-radius: 5px;
  border: 1px solid #dedede;
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
}
#formText {
  font-size: 11px;
  font-weight: 500;
  color: var(--grayishBlue);
  margin-top: 8px;
}
#formText a {
  color: var(--red);
}
.form__field {
  width: 100%;
}

input,
input::placeholder {
  font-weight: 600;
  font-size: 14px;
  color: var(--darkBlue);
  font-family: "Poppins";
  font-style: normal;
  letter-spacing: 0.25px;
}

.btn {
  width: 100%;
  padding: 18px;
  border-radius: 5px;
  font-weight: 600;
  border-style: unset;
}

.trialBtn {
  background: #5e54a4;
  border-radius: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 24px;
}

.claimBtn {
  background: #38cc8b;
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
}
.btn:hover {
  cursor: pointer;
}
.error {
  color: var(--red);
  font-size: 11px;
  font-style: italic;
  font-weight: 500;
  line-height: 17px;
  display: block;
  text-align: right;
}

.form__field input:focus {
  outline: none;
  border: 1px solid #5e54a4;
}

.form__field.error input {
  border-color: var(--red);
}
form input.error {
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.form__field.success input {
  border-color: var(--success-color);
}

.form__field small {
  color: var(--red);
  text-align: right;
}

@media (max-width: 600px) {
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: var(--mobile);
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .btn {
    max-width: 275px;
    width: 100%;
    padding: 18px;
    border-radius: 5px;
    font-weight: 600;
    border-style: unset;
  }

  #informations_section {
    border-radius: 0px;
    width: 100%;
  }
  h1 {
    font-size: 28px;
  }
} ;
